div {
  border: 1px dashed orange;
}

/* test */

.container {
  display: block;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 18%;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.col-5 > a > img {
  max-width: 100%;
  border-radius: 1.4rem;
}

.show-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px dotted cyan;
  max-width: 100%;
  flex-grow: 0;
}

@media (max-width: 500px) {
  .flex-container {
    flex-direction: column;
  }

  .col-5 {
    width: 80%;
  }
}
