* {
  color: #fff;
  font-family: Lato, sans-serif;
}

.hidden {
  display: none !important;
}

.navbar {
  background-color: #22252a;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.menu > button {
  background-color: #22252a;
  min-height: 100%;
  min-width: 100px;
  display: flex;
  justify-content: center;
  padding-left: 1.4rem;
  padding-bottom: 2rem;
  border: none;
}

.menu > button:active {
  background-color: #3a3a3a;
}

body {
  background-color: #111;
}

a:hover {
  cursor: pointer;
}

.logo {
  margin-left: 5rem;
}

.fa-bars {
  align-self: center;
  margin-right: 1.2rem;
  margin-top: 2.4rem;
}

.navpad {
  padding-top: 100px;
}

.logo > a,
.menu-select > a {
  text-decoration: none;
}

.menu-select a {
  line-height: 2.4rem;
  min-width: 96px;
  text-align: right;
  padding-right: 0.4rem;
  border-bottom: 1px solid #3c3c3c;
}

.menu-select > a:hover {
  background-color: #3a3a3a;
}

.menu-select {
  position: absolute;
  background-color: #000;
  display: flex;
  min-width: 6rem;
  flex-direction: column;
  align-items: flex-end;
}

.logo > a > img {
  height: 85px;
  padding-top: 1rem;
}

.show-info > p {
  margin: 0.05rem;
}

html,
body {
  overscroll-behavior: none;
}

.text-div {
  width: 10rem;
  background-color: #000;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main-title {
  font-size: 36px;
  margin: 0;
}

.synopsis-title {
  font-size: 20px;
  margin: 4px;
}

.synopsis-stats {
  margin-bottom: 0.5px;
  line-height: 0.4;
}

.paragraph {
  line-height: 2rem;
}
