* {
  color: #fff;
  font-family: Lato, sans-serif;
}

/* .hidden {
  display: none !important;
} */

.navbar {
  background-color: #22252a;
  height: 4;
  min-width: 20rem;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  transition: top 0.3s;
  overflow: hidden;
  z-index: 10;
}

body {
  background-color: #111;
}

a:hover {
  cursor: pointer;
}

.logo {
  color: #fff;
  align-self: center;
  margin-left: 5.8rem;
}

.fa-bars {
  align-self: center;
  margin-right: 1.2rem;
  margin-top: 2.3rem;
}

.container {
  padding-top: 100px;
}

.logo > a,
.menu-select > a {
  text-decoration: none;
}

.menu-select > a {
  background-color: #3a3a3a;
}

.navbar a:hover,
.fa-bars:hover, {
  cursor: pointer;
}

.menu {
  overflow: hidden;
}

.menu-select > a:hover {
  background-color: #000;
}

/* css test section */

.menu-select {
  position: absolute;
  z-index: 1;
}

/* fix font family for name */

font-family: "Noto Sans",
  sans-serif;

img {
  width: 100%;
}

.logo > a > img {
  max-height: 100px;
}

.show-info > p {
  margin: 0;
}

/* testing layout */

/* 376-1152 width */

/* carousel tests */
.carousel {
  padding-top: 90%;
  padding-bottom: 20%;
  position: relative;
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-track-container {
  background-color: orange;
  height: 100%;
  position: relative;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel-slide {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button-left {
  left: -38px;
  cursor: pointer;
}

.button-right {
  right: -38px;
  cursor: pointer;
}

.carousel-button i {
  width: 20px;
}

.carousel-nav {
  background-color: green;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0 0 0 0.3);
  margin: 0 12px;
}

.carousel-indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}
